.info-number {
  &:not(:empty)::before {
    content: "第";
  }

  &:not(:empty)::after {
    content: "报";
  }
}

.cancel-title span::before {
  content: "取 消";
}

.cancel-body span::before {
  content: "此地震速报已取消";
}

.no-eew.rts-trigger-low .info-unit::after {
  content: "弱反應 " !important;
}

.no-eew.rts-trigger-middle .info-unit::after {
  content: "检出震动 " !important;
}

.no-eew.rts-trigger-high .info-unit::after {
  content: "检查强烈振动 " !important;
}

.eew-warn .info-unit::before {
  content: "地震速报 ";
}

.eew-alert .info-unit::before {
  content: "紧急地震速报 ";
}

.info-number-last::after {
  content: "报(最终报)" !important;
}

.no-eew .info-unit::after {
  content: "暂无生效中的地震预警";
}

.info-intensity::after {
  content: "预估最大震度";
}

.info-nsspe span::before {
  content: "NSSPE 无震源参数推算";
}

.info-time::after {
  content: "发震";
}

.info-mag-text::after,
.report-box-item-wrapper:first-child .report-mag-text::after {
  content: "规模";
  width: 3.5rem;
}

.info-depth-text::after,
.report-depth-text::after {
  content: "深度;
}

/**最外包**/
/**沒有速報時隱藏**/
.no-eew {
  .info-box,
  .info-footer {
    display: none !important;
  }
}

.rts-trigger-low {
  background-color: var(--rts-trigger-low) !important;
  border: 1px solid var(--rts-trigger-low) !important;
}

.rts-trigger-middle {
  background-color: var(--rts-trigger-middle) !important;
  border: 1px solid var(--rts-trigger-middle) !important;
}

.rts-trigger-high {
  background-color: var(--rts-trigger-high) !important;
  border: 1px solid var(--rts-trigger-high) !important;
}

.eew-warn {
  background-color: var(--eew-s-warn) !important;
  border: 1px solid var(--eew-s-warn) !important;
}

.eew-alert {
  background-color: var(--eew-s-alert) !important;
  border: 1px solid var(--eew-s-alert) !important;
}

.eew-cancel {
  background-color: var(--eew-s-cancel) !important;
  border: 1px solid var(--eew-s-cancel) !important;
}

.info-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  gap: 8px;
  margin: 4px;
  padding: 8px;
  background-color: #505050c7;
  color: white;
  z-index: 1001;
  width: 20rem;
  border-radius: 5px;
  pointer-events: none;
  border: 1px solid #515151;
  flex-direction: column;

  /**發報標題**/
  .info-title {
    display: flex;
    padding: 0 8px;
    font-size: 14px;
    font-weight: bold;

    /**發報單位**/
    .info-unit {
      flex: 1;
      font-size: 15px;
    }

    /**發報報數**/
    .info-number {
      font-size: 15px;
    }
  }

  /**發震時間**/
  .info-time {
    gap: 5px;
    display: flex;
    font-size: 13px;
    font-weight: bold;
    align-items: center;
  }

  /**標題外包**/
  .info-title-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

    /**預估最大震度文字**/
    .info-intensity {
      opacity: 0.75;
      font-size: 12px;
      margin-top: 5px;
    }
  }

  /**body主體**/
  .info-body-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
    background-color: #383838;
    padding: 8px;
    min-height: 93px;
    position: relative;

    /**body內包**/
    .info-box {
      display: flex;
      height: 72px;
      gap: 8px;
      opacity: 1;
    }

    /**預估最大震度**/
    .info-title-box {
      width: 75px;
      height: 75px;
      line-height: 60px;
      font-size: 45px;
      font-weight: bold;
      text-align: center;
      align-items: center;
      display: grid;
    }

    /**標題盒、更多資訊**/
    .info-title-box {
      padding: 5px;
      border-radius: 12px;
    }

    /**更多資訊**/
    .info-more {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 5px;

      /**震央**/
      .info-loc {
        font-size: 24px;
        font-weight: bold;
      }

      /**規模、深度**/
      .info-mag-dep {
        display: flex;
        justify-content: space-between;
        margin-top: 3px;

        .info-mag,
        .info-depth {
          position: relative;
          display: flex;
          gap: 4px;
          height: 28px;
          isolation: isolate;

          .info-mag-text,
          .info-depth-text {
            position: absolute;
            line-height: 28px;
            font-size: 30px;
            font-weight: bold;
            opacity: 0.1;
          }

          .info-mag .info-mag-val::before,
          .info-depth .info-depth-val::after {
            opacity: 0.75;
            line-height: 28px;
          }
        }

        /**規模**/
        .info-mag {
          font-size: 28px;

          .info-mag-val {
            margin-top: -6px;
            font-size: 28px;
            font-weight: bold;

            &:before {
              content: "M";
              font-size: 30px;
              margin-right: 4px;
            }
          }
        }

        /**深度**/
        .info-depth {
          font-size: 28px;
          width: 110px;
          display: flex;
          justify-content: flex-end;

          .info-depth-val {
            margin-top: -2px;
            font-size: 26px;
            font-weight: bold;

            &:after {
              margin-left: 4px;
              content: "km";
              font-size: 22px;
            }
          }
        }
      }
    }
  }
}

/**底部**/
.info-footer {
  display: flex;
  font-size: 12px;
  justify-content: space-evenly;
  flex-direction: column;

  .info-nsspe-title {
    margin-right: 0.3em;
  }

  .info-nsspe {
    font-weight: 700;
    line-height: 20px;
    font-size: 15px;
    display: none;
  }
}

.nsspe {
  .info-nsspe {
    display: block;
    margin-top: 6px;
  }

  .info-mag-dep {
    display: none !important;
  }
}

/**取消報**/
.cancel-box {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: rgb(0 0 0 / 40%);
  text-shadow: 2px 2px black, -2px -2px black, -2px 2px black, 2px -2px black;
  backdrop-filter: blur(3px);
  opacity: 0;
  flex-direction: column;
  align-items: center;

  .cancel-title {
    display: flex;
    justify-content: space-around;
    line-height: 36px;
    font-weight: 900;
    font-size: 36px;
  }

  .cancel-body {
    line-height: 14px;
    font-weight: 500;
    font-size: 14px;
  }
}

.eew-cancel .cancel-box {
  opacity: 1;
}

/**震動檢測**/
.trigger-box {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.trigger-areas {
  width: 100%;
}

.area-name {
  font-size: 15.5px;
}
